@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>BuyIT!</h3>

<p>E-Commerce website for the Asp.Net MVC course.
    <br/>
    To reach the admin panel click th click the link at the bottom!
    </p>
